body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff8dc; /* amarillo suave */
}

.container {
  max-width: 480px; /* ancho típico de móvil */
  margin: auto;
  padding: 1rem;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #ff0000; /* rojo manzana */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
* { background: red !important; }