body, .bg-light {
    background-color: #fffbea; /* amarillo suave */
}
.btn-primary {
    background-color: #ff0000; /* rojo manzana */
    border: none;
}
.btn-primary:hover {
    background-color: #cc0000;
}
